.card {
    width: 300px;
    height: 400px;
}

.img {
    max-height: 200px;
}

.title {
    max-width: 100%;
}

.descr {
    max-width: 100%;
}

.amount_btns {
    display: flex;
}

.btn {
    border: none;
}