.card {
    display: grid;
    grid-template-columns: 75px calc(100% - 140px) 80px;
    align-items: start;
}

.card * {
    font-size: 20px;
}

.img_wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.img {
    height: 56px;
    max-width: 100%;
    margin: 0 auto;
}

.title {
    box-sizing: border-box;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
}

.price_wrapper {
    display: flex;
    gap: 5px;
    align-items: start;
}

.price_wrapper p {
    margin-top: 5px;
    font-size: 20px;
}

.price_wrapper p:last-child {
    font-weight: 700;
    color: darkgreen;
}

.btns {
    display: flex;
    align-items: center;
}

.btn {
    background: none;
    font-size: 20px;
}

.btns input {
    height: 18px;
    max-width: 35px;
    text-align: center;
    padding: 0;
    border: none;
    font-size: 20px;
}

.btn svg {
    margin-top: 6px;
}

@media (max-width: 1280px) {
    .btns {
        gap: 0px;
    }
    .card {
        grid-template-columns: 75px calc(100% - 200px) 100px;
    }
}

@media (max-width: 921px) {
    .card {
        grid-template-columns: 75px 50% 90px;
    }
}

@media (max-width: 670px) {
    .card {
        font-size: 12px;
    }
}

@media (max-width: 604px) {
    .card {
        grid-template-columns: 75px calc(100% - 75px);
        grid-template-rows: fit-content 30px;
    }
}