.checkout_page {
    composes: main from './index.css';
}

.content {
    display: flex;
    gap: 150px;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 70%;
    row-gap: 10px;
}

.btn {
    display: block;
    background-color: var(--btn-color);
    height: 40px;
    width: 140px;
    border-radius: 20px;
    margin-top: 20px;
    color: var(--text-snd-color);
}

.btn:hover {
    transform: scale(1.05);
}

.total {
    line-height: 15px;
}

.total h2 {
    margin-top: 0;
}

.price b {
    font-size: 36px;
}

@media (max-width: 1280px) {
    .content {
        gap: 60px;
    }
}

@media (max-width: 920px) {
    .content {
        flex-direction: column;
        gap: 20px;
    }
    .cards {
        width: 100%;
    }
}