.card {
    display: grid;
    grid-template-columns: 60px calc(100% - 140px) 80px;
    align-items: center;
}

.img_wrapper {
    width: 56px;
    display: flex;
    justify-content: center;
}

.img {
    height: 56px;
    margin: 0 auto;
}

.title {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
}

.price_wrapper {
    display: flex;
    gap: 5px;
}

.btns {
    display: flex;
    align-items: center;
}

.btn {
    background: none;
    font-size: 18px;
}

.btns input {
    height: 18px;
    max-width: 35px;
    text-align: center;
    padding: 0;
    border: none;
}

.btn svg {
    margin-top: 6px;
}

@media (max-width: 1180px) {
    .btns {
        gap: 0px;
    }
    .card {
        grid-template-columns: 60px calc(100% - 200px) 100px;
    }
}

@media (max-width: 670px) {
    .card {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 10px;
    }
}