.card {
    display: flex;
    justify-content: left;
    gap: 25px;
    align-items: center;
}

.img_wrapper {
    width: 56px;
    display: flex;
    justify-content: center;
}

.img {
    height: 56px;
    margin: 0 auto;
}

.price_wrapper {
    display: flex;
    gap: 5px;
}

.btns {
    display: flex;
    align-items: center;
}

.btn {
    background: none;
    font-size: 18px;
}

.btns input {
    height: 18px;
    max-width: 40px;
}

.btn svg {
    margin-top: 6px;
}