.checkout_page {
    composes: main from './index.css';
}

.content {
    display: flex;
    justify-content: space-between;
}

.cards {
    width: 70%;
}

.btn {
    display: block;
    background-color: var(--btn-color);
    height: 40px;
    width: 140px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    color: var(--text-snd-color);
}

.btn:hover {
    transform: scale(1.05);
}

@media (max-width: 920px) {
    .content {
        flex-direction: column;
    }
    .cards {
        width: 100%;
    }
}