.contact_page {
    composes: main from './index.css';
    background: linear-gradient(45deg, #AAAAAA 0%, #05422C 100%);
}

.contact_page h1 {
    color: var(--text-snd-color);
}

.content {
    display: flex;
    margin: 0 auto;
    max-width: 65%;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 10%;
}

.p {
    color: var(--text-snd-color);
}

.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;
}

.form input {
    max-width: 200px;
}

.inputs {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 10px;
}

.textarea {
    composes: input from './Input.module.css';
    max-width: 100%;
}

.btn {
    background-color: var(--btn-color);
    height: 40px;
    width: 140px;
    color: var(--text-snd-color);
    border-radius: 20px;
    margin-top: 10px;
}

.img {
    composes: img from './HomePage.module.css';
}

@media (max-width: 1090px) {
    .img {
        max-width: 320px;
        max-height: 320px;
        margin-top: 10px;   
    }
}

@media (max-width: 972px) {
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form {
        width: 100%;
    }
    .btn {
        margin: 0 auto;
    }
}