.footer {
    box-sizing: border-box;
    background-color: var(--dark-grey);
    min-height: 70px;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
}

.footer * {
    color: var(--text-snd-color);
    font-size: 18px;
}

.links {
    display: flex;
    gap: 50px;
}

.links a:hover {
    color: #999999;
}

@media (max-width: 768px) {
    .links {
        gap: 25px;
    }
}

@media (max-width: 570px) {
    .footer * {
        font-size: 12px;
    }
    .links {
        gap: 10px;
    }
}