.header {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    height: 100%;
    display: flex;
}

.logo .logo_img {
    height: 100%;
}

.logo .logo_p {
    font-size: 24px;
    margin: 0;
    margin-top: 14px;
    margin-left: 20px;
}

.links {
    display: flex;
    width: 350px;
    justify-content: left;
    align-items: center;
    gap: 50px;
}

.link {
    text-decoration: none;
    font-size: 18px;
}

.cart {
    display: flex;
    position: relative;
}

.cart .link {
    margin-top: 12px;
}

.link svg {
    font-size: 36px;
}

.cart .cart_num {
    position: absolute;
    height: 30px;
    width: 30px;
    font-size: 14px;
    background-color: red;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    color: var(--text-snd-color);
    left: 15px;
    top: 4px;
}

.ham_header {
    composes: header;
    position: static;
    align-items: center;
    display: none;
}

.ham_icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
}

.ham_bar {
    display: block;
    height: 3px;
    background-color: var(--text-prim-color);
    border-radius: 2px;
    transition: 0.3s ease;
}

@media (max-width: 930px) {
    .header {
        display: none;
    }
    .ham_header {
        display: flex;
    }
}