@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    --text-prim-color: #46494F;
    --text-snd-color: #FFFFFF;
    --dark-grey: #231F20;
    --background-color: #05422C;
    --btn-color: #17AF26;
}

* {
    font-family: "Lexend", sans-serif;
    color: var(--text-prim-color);
}

.link {
    color: var(--text-prim-color);
    text-decoration: none;
}

.link:hover {
    color: black;
}

.icon {
    font-size: 32px;
}

.icon:hover {
    color: black;
}

h1 {
    font-size: 36px;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.main {
    min-height: 75vh;
    padding: 20px 10%;
}