.input {
    border-width: 1px;
    border-color: var(--text-prim-color);
    border-radius: 10px;
    padding-left: 10px;
    font-size: 14px;
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}